<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
    <a class="navbar-brand" href="#">Movie Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown">
          <div ngbDropdown>
            <a ngbDropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Genres
            </a>
            <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="navbarDropdown">
              <ul class="list-unstyled p-2">
                  <li *ngFor="let genre of genres">
                      <a [routerLink]="['movies/genres', genre.id]">{{ genre.name }}</a>
                  </li>
                </ul>
            </div>
          </div>
        </li>
        <li class="nav-item" *ngIf="!isUserAuthenticated">
          <a class="btn btn-outline-primary" [routerLink]="[ '/login' ]">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isUserAuthenticated">
          <a class="btn btn-outline-primary" [routerLink]="[ '/register' ]">Register</a>
        </li>
        <li class="nav-item" *ngIf="isUserAuthenticated" (click) ="logout()">
          <a class="btn btn-outline-primary" [routerLink]="[ '/' ]">Logout</a>
        </li>

        <li class="nav-item" *ngIf="isUserAuthenticated">
          <span class="navbar-text">
            {{ LogedInUser.family_name + " " + LogedInUser.given_name }}
          </span>
        </li>
      </ul>

    </div>
  </nav>

  <p>
      <app-genres></app-genres>
  </p>