.container-fluid{
    padding-top:0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right : 10px;
    margin:0px;
}

#row1{
    background-color: gray;
}

#col2{
    margin-left: 10px;
    margin-right: 10px;
}